{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
Notice board
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все объявления</h1>
<hr>
{%if messages %}
    <div class="alert.alert-success">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>
{% endif %}
{% if ads %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr>
               <th>Заголовок</th>
               <th>Описание</th>
               <th>Дата создания</th>
           </tr>
           {% for ad in ads %}
           <tr>
               <td>
                   <br><a href="{% url 'ad.html' ad.id %}">{{ ad.title|title }}</a>
                   {% if request.user == ad.Author.authUser %}
                       <a href="{% url 'ad_create.html' ad.id %}"><u>Редактировать</u></a>
                       <a href="{% url 'ad_delete.html' ad.id %}"><u> Удалить </u></a>
                   {% endif %}
               </td>
               <td>{{ ad.content|safe }}</td>
               <td>{{ ad.date_create|date:'M d Y' }}</td>
           </tr>
           {% endfor %}
       </table>

       {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
       {% endif %}
{% else %}
    <h2>Объявлений нет!</h2>
{% endif %}
        <a href="{% url 'ad_create.html' %}">Добавить новое объявление</a> <br>
{% endblock content %}
